

/*REMOVE */
.main-content::after{
    content: "";
    display:block;
    clear:both;
}

#main-blog-content{
    margin-top:2rem;
    width: 65%;
    float:left;
}

article aside{
    text-align:left;
}

article figcaption{
    font-size: 75%;
    font-style: italic;
}

.blog-img-container{
    width: 30%;
    /*height: 300px;*/
    float: left;
    /*padding: 1%;*/
    margin: 0.7rem;
    /*border-radius: 10px;*/
}

.blog-img-container img{
    height: 300px;
    width: 99%; /*to account for the border around the img*/
    /* border: 0.1rem solid black; */
}

article h3{
    font-size: 90%;
}

figcaption{
    text-align:center;
}

.blog-content{
    width: 65%;
    /*height: 300px;*/
    float:left; /*Needs to be floated left against the figure so that the blog-header h3's can be floated properly*/
    padding: 0.7rem;
}

.blog-content ul{
    list-style-type: none;
    background: var(--main-nav-font-color);
    padding: 0.5rem;
    text-align:center;
    width:30%;
    margin-top: 1rem;
}

.blog-content ul:hover {
    cursor:pointer;
}

.blog-content ul li a{
    text-decoration: none;
    color: var(--main-button-color);
}

.blog-header{
    color: var(--main-blog-header-color);
}

/* This rule allows the margin-top to be set on the .blog-body */
.blog-header::after{
    content:"";
    display:block;
    clear:both; /*prevents the blog-body from colliding into the blog header when there are no blog-header-tag content */
}

.blog-header-date{
    width:fit-content;
    float: left;
}

.blog-header-seperator{
    float:left;
    margin-left: 1rem;
    font-size: 100%;
}

.blog-header-tag{
    float: left;
    margin-left: 1rem;
}

/* .blog-body{
    margin-top:10px;
} */

.blog-body h2, .blog-body p{
    padding-top:1rem;
}

article aside{
    clear:both;
    padding: 0.7rem;
}

article aside ul{
    list-style-type: none;
}

article aside ul li:active, article aside ul li:hover{
    font-weight: bold;
    color: royalblue;
    cursor: pointer;
}

/*to remove fixed positioning, comment out position and right properties and uncomment the float property. */
#aside-content{
    float: left;
    /* position:fixed;
    bottom: 8rem;
    top: 41rem;
    right: 0; */
    width: 33%;
}

#recommended-nav::after{
    content: "";
    display:block;
    clear:both;
}

#recommended-nav ul li{
    background: var(--main-nav-font-color);
    color: var(--main-button-color);
    padding: 0.5rem;
    text-align:center;
    width:20%;
    float:left;
}

#recommended-nav, .aside-content{
    margin-top: 1.5rem;
}

/* selects li elements 2 and 3 (skips 1) */
#recommended-nav ul li:nth-child(n+2){
    margin-left: 0.5rem;
}

#recommended-nav ul li:hover{
    background: var(--main-nav-font-color-hover);
    cursor: pointer
}

#recommended-blog-posts #recommended-nav ul{
    list-style-type: none;
}

/* h3.aside-content-heading{
    color: var(--main-nav-font-color);
} */

.aside-content::after{
    content: "";
    display: block;
    clear: both;
}

.aside-content-img{
    width: 25%;
    float:left;
}

.aside-content-img img{
    height:100px;
    width:99%;
}

.aside-content-body{
    width: 65%;
    float:left;
    padding-left: 1.2rem;
}

.aside-content-date{
    color: var(--main-blog-header-color);
}

#featured-blog-post{
    margin-top:10px;
}

.featured-content{
    margin-top: 1rem;
}

/*
width, float left for #main-blog-content and #aside-content

aside-content
aside-content-img
aside-content-body
aside-content-title
aside-content-date

do not change:
recommended-nav
recommended-blog-posts
*/