article aside{
    text-align:left;
}

article figcaption{
    font-size: 75%;
    font-style: italic;
}

figure img{
    height: 100%;
    width: 100%;
}

article h3{
    color:rgb(128, 128, 128);
    font-size: 90%;
}

figure{
    width: 30%;
    /*height: 300px;*/
    float: left;
}

.blog-content{
    width: 70%;
    height: 300px;
}

article aside{
    clear:both;
}

article aside ul li:active, article aside ul li:hover{
    font-weight: bold;
    color: royalblue;
    cursor: pointer;
}