/* The reset selector */
* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

html{
    /* set the font-size for rem's */
    font-size: 62.5%;
}

article,aside,figure,footer,header,nav#main-nav,section{
    display:block;
}

body{
    font-size: 130%;
    font-family: "Gill Sans Extrabold", sans-serif;
    width:90%;
    margin: auto;
}

header h1 {
    text-align: center;
}

nav#main-nav{
    border-top: 1px solid rgb(187, 185, 185);
}

nav#main-nav ul{
    list-style-type: none;
}

nav#main-nav ul::after{
    content: "";
    display: block;
    clear: both;
}

nav#main-nav ul li{
    float:left;
    width: 10%;
    text-align: center;
    padding: 1rem 0;
}

nav#main-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 140%;
}

nav#main-nav li:hover{
    border-top: 0.2rem solid black;
    cursor: pointer;
}

section .main-content{
    width: 95%;
    margin:10px auto;
}

footer{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

footer section img{
    width:2.5rem;
    height: 2.5rem;
}


