/* The reset selector */
* {
    margin: 0;
    padding: 0;
}

article,aside,figure,footer,header,nav,section{
    display:block;
}

body{
    font-size: 87.5%;
    font-family: "Gill Sans Extrabold", sans-serif;
    width:85%;
    margin: auto;
}

header{
    border-bottom: 2px solid black;
}

header h1 {
    text-align: center;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:active, a:hover{
    font-style: italic;
    font-size: 150%;
}

section{
    width: 95%;
    margin:10px auto;
}

footer{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

footer section img{
    width:25px;
    height: 25px;
}

