article,aside,figure,footer,header,nav,section{
    display:block;
}

body{
    font-size: 87.5%;
    font-family: "Gill Sans Extrabold", sans-serif;
}

header{
    border-bottom: 2px solid black;
}

header h1 {
    margin: 0;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li{
    text-align:center;
    width: 25%;
}

a{
    text-decoration: none;
}

a:active, a:hover{
    font-style: italic;
    font-size: 150%;
}

footer{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

footer section img{
    width:25px;
    height: 25px;
}

