.flex-container{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-box{
    padding: 120px 0;
    min-width:440px;
    width: 40%;
    color: white;
    background-size: cover;
    border-radius: 8px; 
    border: 1px solid #eaeaea;
    box-shadow: 3px 3px 10px rgb(139, 132, 132);
    /*flex: 1 1 0; */
}

#edi-web-app-box{
    background-image: url(../images/EDI-web-app-very-small.jpg);

}

#brick-bazaar-box{
    background-image: url(../images/brick-bazaar-smaller.png);
}

#coming-soon {
    background-image: url(../images/coming-soon-fitted.png);
}