.flex-container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-box{
    margin: 5rem;
    width: 40%;
    color: white;
    /* background-size: cover; */
    border-radius: var(--border-radius-box);
    border: var(--border-box);
    box-shadow: var(--box-shadow);
    transition: opacity 1.5s;
}

.project-box img{
    width: 100%;
    height: 40rem;
    border-radius: 0.8rem; 
    /* This will make the img fit the entire dimensions of the img defined here (width 100% and height 40rem) */
    object-fit: cover;
    object-position: left;
    /* This gets rid of the tiny amount of space on the bottom of each img */
    vertical-align:middle;
}

/* Javascript needed here to target .project-box-content to be visible when hovering on .project-box */
 .project-box:hover{
    /* visibility: visible; */
    opacity: 0.2;
}

.project-box-content{
    font-size: 175%;
    /* visibility: hidden; */
    display: none;
}

/* #edi-web-app-box{
    background-image: url(../images/EDI-web-app.png);

} */

/* #brick-bazaar-box{
    background-image: url(../images/brick-bazaar.png);
} */

/* #coming-soon {
    background-image: url(../images/coming-soon.jpg);
} */

@media all and (max-width: 1170px) {
    .flex-container{
        flex-direction:column;
        align-items: center;
    }

    .project-box{
        margin: 2rem;
        min-width:auto;
    }

    .project-box img{
        height: 25rem;
    }
  }

  @media all and (max-width: 650px) {
    .flex-container{
        flex-direction:column;
        align-items: left;
    }

    .project-box{
        display:flex;
        flex-direction: row;
        justify-content: left;
        transition: none;
        width:100%;
        margin: 2rem auto;
        align-items: center;
    }

    .project-box:hover{
        /* visibility: visible; */
        opacity:unset;
    }

    .project-box img{
        height: 15rem;
        width:40%;
        /* display:block; */
    }

    .project-box p.project-box-content{
        display:block;
        color: var(--main-nav-font-color);
        font-size: 100%;
        margin-left:2rem;
    }
  }