.flex-container{
    display: flex;
    justify-content: space-around;
}

.project-box{
    height: 300px;
    min-width:300px;
    width: 35%;
    /* border-radius: 8px; */
    border: 1px solid #eaeaea;
    /* box-shadow: 0 .5rem 1.2rem rgba(0,0,0,.2);*/
    /* flex: 1 1 0; */
}

#edi-web-app-box{
background: url(../images/EDI-web-app.png) no-repeat center;
}